<% include ../partials/header.ejs %>
<div class="container mt-3">
    <div class="row">
        <div style="width: 30%; margin: 25px auto">
        <form method="POST" action="/index/<%=fashion._id%>/comments"> 
            <div class="form-group">
                <label for="inputPostName">Username:</label>
                <input type="text" class="form-control" id="inputPostName" placeholder="username" name="comment[username]">
            </div>
            <div class="form-group">
                <label for="inputDescription">Description:</label>
                <input class="form-control" type="text" id="inputDescription" placeholder="Some random texts...." name="comment[text]">
            </div>
            <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </div>
        </form>
    </div>
    </div>
</div>

<% include ../partials/footer.ejs %>